@* @model IEnumerable<OnlineSchoolWebApp.Models.Etablissement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                  
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EtablissementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EtablissementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EtablissementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@





@model IEnumerable<OnlineSchoolWebApp.Models.Etablissement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th></th>
            <th>Details</th> <!-- New column for AnneeScolaires link -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EtablissementId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EtablissementId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EtablissementId">Delete</a>
                </td>
                <td>
                    <a asp-action="AnneeScolaires" asp-route-id="@item.EtablissementId">Annee Scolaires</a>
                </td>
            </tr>
        }
    </tbody>
</table>
